extends layout

include mixins/_addForm

block content
  header.flex.flex-center.justify-between
    a.btn.px0(href="/")
      h1.m0.flex.flex-center
        span.h2.mr1 ※
        span #{h.meta.title.toLowerCase()}
    a.btn(href="refs") references
  +addForm()