include mixins/_head

<!DOCTYPE html>
html(lang="en")

  +head()
  
  body.bg-light-gray.flex.flex-center.justify-center.flex-column

    .sm-col-7
      block messages
        if locals.flashes
          //- pre= h.dump(locals.flashes)
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              section(class=`flex flex-center flash flash--${category} mb3`)
                h1.m0.h4.regular.flex-grow!= message
                a.btn.h3.p0.cursor(onClick="this.parentElement.remove()") &times;

      block content