<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="/dist/refrem.css")
    title Document
  body.bg-light-gray.flex.flex-center.justify-center.flex-column

    .sm-col-7
      block content