mixin addForm(ref = {})

  form.bg-white.shadow.p4(action="/add" method="POST")
    label(for="refUrl") URL for the reference
    input(type="text" name="refUrl" class="col-12 mb2")
    label(for="commentsUrl") URL for comments about the reference
    input(type="text" name="commentsUrl" class="col-12 mb2")
    label(for="source") Source of the reference
    .flex.mb2
      - const sources = ['HN', 'Twitter', 'GitHub'];
        ul.list-reset.flex.flex-wrap.mb0
          each source in sources
            li.flex.flex-center.mr2.source-option
              input(type="radio" id=source value=source name="source")
              label(for=source)= source
        input(type="text" name="soure-other")
    label(for="category") Category of the reference
    input(type="text" name="category" class="col-12 mb2")
    input(type="submit" value="Add reference " class="btn btn-primary col-12" )
