mixin refForm(ref = {})

  form.bg-white.shadow.p4(action="/add" method="POST")
    label(for="refUrl") Ref URL
    input(type="text" name="refUrl" class="col-12 mb2")
    label(for="commentsUrl") Comments URL
    input(type="text" name="commentsUrl" class="col-12 mb2")
    .flex.mb2
      - const sources = ['HN', 'Twitter'];
        ul.list-reset.flex.flex-wrap.mb0
          each source in sources
            li.flex.flex-center.mr2.source-option
              input(type="radio" id=source value=source name="tags")
              label(for=source)= source
        input(type="text" name="soure-other")
    label(for="tag") Tag
    input(type="text" name="tag" class="col-12")
